{% extends "base.html" %}
{% block head_mixins %}
    <style>
        #map {
            height: 640px;
        }

        #map a[role=button] {
            padding: 0px;
        }
    </style>
{% endblock %} #}
{% block content %}
    <section>
        <div>
            <h2>Map Testing</h2>
        </div>
    </section>
    <section>
        <div>
            <a onclick="return false;" href="#" role="button" @click="moveMarker(-0.000250)">Marker Left</a>
            <a onclick="return false;" href="#" role="button" @click="moveMarker(0.000250)">Marker Right</a>
            <a onclick="return false;" href="#" role="button" @click="randomMoveMarker">Marker Random</a>
            <a onclick="return false;" href="#" role="button" @click="beginRandomMovement">{|{ randomToggle }|}
                Random</a>
            <div style="margin-top:20px;">
            <label for="randomDelay">Delay (<code style="color: deeppink">{|{ randomDelay }|}</code>)
                <input v-model="randomDelay" type="range" min="50" max="1000" value="250" id="randomDelay"
                       name="randomDelay">
            </label>
                <label for="randomDistance">Distance (<code>125</code> good for close-up) (<code style="color: deeppink">{|{ randomDistance }|}</code>)
                <input v-model="randomDistance" type="range" min="75" max="100000" value="125" id="randomDistance"
                       name="randomDistance">
            </label>
            </div>
        </div>
    </section>
    <section>
        <div id="map">
    </section>

    </div>

{% endblock %}
{% block page_script %}
    <script type="module">

        // set data
        var data = {
            map: {
                homeLat: 52.553625,
                homeLon: 13.401555,
                markerLat: 52.553625,
                markerLon: 13.401555,
            },
            randomMoveInt: null,
            randomDelay: 125,
            randomDistance: 125
        }

        // create Vue
        var vm = new Vue({
            el: '#vm',
            data: data,
            delimiters: ['{|{', '}|}'],
            computed: {
                randomToggle() {
                    if (this.randomMoveInt === null) {
                        return "Begin"
                    } else {
                        return "Stop"
                    }
                }
            },
            watch: {
                randomDelay: function (newVal, oldVal) {
                    this.beginRandomMovement()
                }
            },
            methods: {
                createMap() {

                    // create map
                    var mymap = L.map('map', {fullscreenControl: true}).setView([this.map.homeLat, this.map.homeLon], 17);

                    // add tiles
                    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                        maxZoom: 18,
                        id: 'mapbox/streets-v11',
                        tileSize: 512,
                        zoomOffset: -1,
                        accessToken: 'sk.eyJ1IjoiZ2h1a2lsbCIsImEiOiJja3cxc3M1d2QyODc2MnZtcnZtcHd2aTF1In0.0chKHQDPT3FiCukvT7ikHw'
                    }).addTo(mymap);

                    // add marker
                    this.marker = L.marker([this.map.markerLat, this.map.markerLon]).addTo(mymap);
                },
                moveMarker(lonDelta) {
                    this.map.markerLon += lonDelta
                    var newLatLng = new L.LatLng(this.map.homeLat, this.map.markerLon);
                    this.marker.setLatLng(newLatLng);
                },
                randomMoveMarker() {
                    var moveUp = Math.random() < 0.5;
                    var moveRight = Math.random() < 0.5;
                    var latDelta = parseFloat(this.randomDistance) / 1000000.0;
                    var lonDelta = parseFloat(this.randomDistance) / 1000000.0;
                    if (!moveUp) {
                        latDelta = latDelta * -1
                    }
                    if (!moveRight) {
                        lonDelta = lonDelta * -1
                    }
                    this.map.markerLat += latDelta
                    this.map.markerLon += lonDelta
                    var newLatLng = new L.LatLng(this.map.markerLat, this.map.markerLon);
                    this.marker.setLatLng(newLatLng);
                },
                beginRandomMovement() {
                    if (this.randomMoveInt === null) {
                        this.randomMoveInt = setInterval(() => {
                            this.randomMoveMarker()
                        }, this.randomDelay);
                    } else {
                        clearInterval(this.randomMoveInt);
                        this.randomMoveInt = null
                    }
                }
            },
            mounted: function () {
                this.createMap();
            }
        })

    </script>
{% endblock %}