<html data-theme="dark">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='pico.min.css', version=v) }}">
    <script src="{{ url_for('static', filename='node_modules/vue/dist/vue.js', version=v) }}"></script>
    <script src="{{ url_for('static', filename='node_modules/axios/dist/axios.js', version=v) }}"></script>
    <script src="{{ url_for('static', filename='node_modules/chart.js/dist/Chart.js', version=v) }}"></script>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon.png', version=v) }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon.png', version=v) }}">
    <style>
        .nav_title {
            font-weight: bold;
            font-size: 200%;
        }
    </style>
</head>
<body>
<main id="vm" class="container">
    <nav>
        <ul>
            <li><a href="/gui"><span class="nav_title">TBOS.2</span></a></li>
        </ul>
        <ul>
            <li><a href="/gui/rides">Rides</a></li>
            <li><a href="/gui/bike">Bike</a></li>
        </ul>
    </nav>
    {% block content %}{% endblock %}
</main>
</body>
<script type="module" src="{{ url_for('static', filename='base.js', version=v) }}"></script>
{% block page_script %}{% endblock %}
</html>