{% extends "base.html" %}
{% block content %}
<div>
    <p>Current bike: <code>{{ f.bike.name }}</code></p>
    <p><pre><code>{|{ bikeJson }|}</code></pre></p>
</div>
{% endblock %}
{% block page_script %}
    <script type="module">

        // set data
        var data = {
            bikeJson:'loading...'
        }

        // create Vue
        var vm = new Vue({
            el: '#vm',
            data: data,
            delimiters: ['{|{', '}|}'],
            computed: {

            },
            methods: {
                getBikeStatus: function () {
                    axios.get(`/api/bike/status`)
                        .then(response => {
                            console.log(response.data)
                            this.bikeJson = response.data
                        })
                },
                async polly(text) {
                    var a = new Audio(`/gui/polly?text="${text}"`);
                    a.play();
                },
            },
            mounted: function () {
                this.polly('Displaying information for bike: {{ f.bike.name }}');
                this.getBikeStatus();
            }
        })

    </script>
{% endblock %}