{% extends "base.html" %}
{% block content %}
    <div>
        <h2 @click="polly('{{ f.ride.name }}')">Ride: <code>{{ f.ride.name }}</code></h2>
        <table>
            <tbody>
            <tr>
                <td>Actions:</td>
                <td>
                    <a v-if="this.heartbeatInterval === null" role="button"
                       style="background-color: green; border-color: green;" @click="startApiHeartbeat()">Start</a>
                    <a v-else style="background-color: red; border-color: red;" role="button"
                       @click="stopApiHeartbeat()">Stop</a>
                </td>
            </tr>
            <tr>
                <td>Duration:</td>
                <td><code style="color:deeppink;">{|{ makePrettyTime({{ f.ride.duration }}) }|}</code></td>
            </tr>
            <tr>
                <td>Completed:</td>
                <td><code style="color:deeppink;">{|{ makePrettyTime(localCompleted) }|} ({|{ percentComplete
                    }|}%)</code></td>
            </tr>
            <tr>
                <td>Level:</td>
                <td>
                    <code style="color:deeppink;">{|{ bike.level }|}</code> <a role="button"
                                                                               style="margin-left:15px; background-color: green; border-color: green; font-size:200%;"
                                                                               @click="adjustLevel(1)">↑</a>
                    <a role="button" style="margin-left:15px; background-color: red; border-color: red; font-size:200%;"
                       @click="adjustLevel(-1)">↓</a>
                </td>
            </tr>
            <tr>
                <td>RPM:</td>
                <td><code style="color:deeppink;">{|{ bike.reported.rpm.rpm }|}</code></td>
            </tr>
            <tr>
                <td>Debug</td>
                <td>
                    <details>
                        <summary>click to see more...</summary>
                        <div>
                            <ul>
                                <li>actual bike level: <code>{|{ bike.reported.rm.level }|}</code>, resistance motor
                                    current: <code>{|{bike.reported.rm.current }|}</code></li>
                                <li>heartbeat queu: <code>{|{ queuedHeartbeats }|}</code></li>
                            </ul>
                        </div>
                    </details>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <div class="chart-container" style="position: relative;">
            <canvas id="myChart"></canvas>
        </div>
    </div>
{% endblock %}
{% block page_script %}
    <script type="module">

        // imports
        import {makePrettyTime} from '{{ url_for('static', filename='index.js') }}';

        // set data
        var data = {
            rideDuration: {{ f.ride.duration }},
            localCompleted: {{ f.ride.completed }},
            rideIsCompleted: false,
            heartbeatInterval: null,
            queuedHeartbeats: 0,
            bike: {
                level: null,
                reported: {rm: {level: null, current: null}, rpm: {rpm: null}}
            },
            currentProgramSegment: {level: null, num: null, window: []},
            charts: {
                level: {
                    data: {
                        labels: [],
                        datasets: [
                            {
                                label: 'program',
                                data: [],
                                borderColor: 'deeppink',
                                borderWidth: 4,
                            },
                            {
                                label: 'recorded',
                                data: [],
                                borderColor: 'rgba(0,255,0,0.7)',
                                backgroundColor: 'rgba(0,255,0,0.3)',
                                borderWidth: 1,
                                fill: true
                            }]
                    },
                    chart: null
                }
            }
        }

        // create Vue
        var vm = new Vue({
            el: '#vm',
            data: data,
            delimiters: ['{|{', '}|}'],
            computed: {
                percentComplete() {
                    return Math.floor((this.localCompleted / {{ f.ride.duration }}) * 100);
                },
                chartLevelData() {
                    return this.charts.level.data;
                }
            },
            methods: {
                performHeartbeat: function () {
                    axios.post('/api/heartbeat', {"localRide": {"completed": this.localCompleted}})
                        .then(response => {
                            this.queuedHeartbeats -= 1;
                            let hb = response.data

                            // update reported
                            this.bike.reported.rm.level = hb.rm.level
                            this.bike.reported.rm.current = hb.rm.current
                            this.bike.reported.rpm.rpm = hb.rpm.rpm

                            // set initial level from first heartbeat
                            if (this.bike.level == null) {
                                this.bike.level = this.bike.reported.rm.level
                            }

                            // segments
                            if (hb.ride.last_segment != null && hb.ride.last_segment.is_new) {
                                this.bike.level = hb.ride.last_segment.level
                                this.programSegmentChange(hb.ride.last_segment)
                            }

                            // update charts
                            this.charts.level.data.labels = hb.chart_data.labels
                            this.charts.level.data.datasets = hb.chart_data.datasets
                            this.updateChart()

                            // see if ride done
                            if (this.localCompleted >= this.rideDuration && !this.rideIsCompleted){
                                this.rideCompleted();
                            }

                        })
                        .catch(error => console.error(error));
                },
                startApiHeartbeat: function () {
                    this.polly(`Starting at ${this.percentComplete} percent`);
                    this.heartbeatInterval = setInterval(() => {
                        this.localCompleted += 1;
                        this.queuedHeartbeats += 1;
                        this.performHeartbeat();
                    }, 1000);
                },
                async stopApiHeartbeat() {
                    this.polly(`Stopping at ${this.percentComplete} percent`);
                    clearInterval(this.heartbeatInterval);
                    this.heartbeatInterval = null;
                },
                makePrettyTime(s) {
                    return makePrettyTime(s);
                },
                createChart() {
                    this.charts.level.chart = new Chart(
                        document.getElementById('myChart').getContext('2d'),
                        {
                            type: 'line',
                            data: this.chartLevelData,
                            options: {
                                responsive: true,
                                animation: {
                                    duration: 0
                                },
                                elements: {
                                    point: {
                                        radius: 0,
                                    },
                                },
                                scales: {
                                    xAxes: [{
                                        display: false, // this will remove all the x-axis grid lines
                                    }],
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true,
                                            steps: 20,
                                            stepValue: 1,
                                            max: 20,
                                        },
                                    }],
                                }
                            }
                        }
                    )
                },
                updateChart() {
                    this.charts.level.chart.update();
                },
                adjustLevel(delta) {
                    this.bike.level = this.bike.level + delta

                    this.polly(`Going to level ${this.bike.level}`);

                    if (this.bike.level < 1) {
                        this.bike.level = 1
                    }
                    if (this.bike.level > 20) {
                        this.bike.level = 20
                    }
                    axios.get(`/api/bike/rm/adjust/${this.bike.level}`)
                        .then(response => {
                            console.log(response.data)
                        })
                },
                async polly(text) {
                    var a = new Audio(`/gui/polly?text="${text}"`);
                    a.play();
                },
                programSegmentChange(last_segment) {
                    console.log(last_segment)
                    if (this.currentProgramSegment.num != last_segment.num) {
                        this.polly(`Program, going to level ${last_segment.level}`);
                    }
                    this.currentProgramSegment.level = last_segment.level;
                    this.currentProgramSegment.num = last_segment.num;
                    this.currentProgramSegment.window = last_segment.window;

                },
                rideCompleted(){
                    this.rideIsCompleted = true;
                    this.stopApiHeartbeat();
                    this.polly(`Ride {{ f.ride.name }} completed, congratulations!`);
                }
            },
            mounted: function () {
                this.createChart();
                this.performHeartbeat();
                this.polly("Loading ride: {{ f.ride.name }}.");
            }
        })

    </script>
{% endblock %}