{% extends "base.html" %}
{% block content %}
    <div>
        <h2>Ride: <code>{{ f.ride.name }}</code></h2>
        <table>
            <tbody>
            <tr>
                <td>Actions:</td>
                <td><a role="button" style="background-color: green; border-color: green;" @click="startApiHeartbeat()">Start</a>
                    <a style="background-color: red; border-color: red;" role="button"
                       @click="stopApiHeartbeat()">Stop</a>
                    <a @click="updateChart()" role="button">GRAPH</a>
                </td>
            </tr>
            <tr>
                <td>Duration:</td>
                <td><code>{|{ makePrettyTime({{ f.ride.duration }}) }|}</code></td>
            </tr>
            <tr>
                <td>Completed:</td>
                <td><code>{|{ makePrettyTime(localCompleted) }|} ({|{ percentComplete }|}%)</code></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <div class="chart-container" style="position: relative;">
            <canvas id="myChart"></canvas>
        </div>
    </div>


{% endblock %}
{% block page_script %}
    <script type="module">

        // imports
        import {makePrettyTime} from '{{ url_for('static', filename='index.js') }}';

        // set data
        var data = {
            localCompleted: {{ f.ride.completed }},
            heartbeatInterval: null,
            charts: {
                level: {
                    data: {
                        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                        datasets: [
                        {
                            label: 'goober',
                            data: [5, 5, 7, 5, 3, 5],
                            borderColor:'rgba(255,255,255,0.7)',
                            borderWidth: 1
                        },
                        {
                            label: 'tronic',
                            data: [4, 2, 7, 10, 3, 1],
                            borderColor:'rgba(255,120,255,0.7)',
                            borderWidth: 1
                        }]
                    },
                    chart: null
                }
            }
        }

        // create Vue
        var vm = new Vue({
            el: '#vm',
            data: data,
            delimiters: ['{|{', '}|}'],
            computed: {
                percentComplete() {
                    return Math.floor((this.localCompleted / {{ f.ride.duration }}) * 100);
                },
                chartLevelData() {
                    return this.charts.level.data;
                }
            },
            methods: {
                startApiHeartbeat: function () {
                    this.heartbeatInterval = setInterval(() => {
                        // increment completed
                        this.localCompleted += 1;
                        // get heartbeat
                        axios.post('/api/heartbeat', {"localRide": {"completed": this.localCompleted}})
                            .then(response => {
                                console.log(response.data)
                            })
                            .catch(error => console.error(error));
                    }, 1000);
                },
                stopApiHeartbeat() {
                    clearInterval(this.heartbeatInterval);
                },
                makePrettyTime(s) {
                    return makePrettyTime(s);
                },
                createChart() {
                    this.charts.level.chart = new Chart(
                        document.getElementById('myChart').getContext('2d'),
                        {
                            type: 'line',
                            data: this.chartLevelData,
                            options: {
                                responsive: true
                            }
                        }
                    )
                },
                updateChart() {
                    this.charts.level.chart.update();
                }
            },
            mounted: function () {
                this.createChart();
            }
        })

    </script>
{% endblock %}