{% extends "base.html" %}
{% block head_mixins %}
    <style>
        #map {
            height: 480px;
        }

        #map a[role=button] {
            padding: 0px;
        }
    </style>
{% endblock %} #}
{% block content %}
    <section>
        <h2 @click="polly('{{ f.ride.name }}')">Ride: <code>{{ f.ride.name }}</code></h2>
        <table>
            <tbody>
            <tr>
                <td>Actions:</td>
                <td>
                    <a v-if="this.heartbeatInterval === null" role="button"
                       style="background-color: green; border-color: green;" @click="startApiHeartbeat()">Start</a>
                    <a v-else style="background-color: red; border-color: red;" role="button"
                       @click="stopApiHeartbeat()">Stop</a>
                </td>
                <td>
                    <fieldset>
                        <label for="playAudio">
                            <input v-model="playAudio" type="checkbox" id="playAudio" name="playAudio" role="switch">
                            Audio
                        </label>
                    </fieldset>
                </td>
            </tr>
            <tr>
                <td>Progress:</td>
                <td>
                    <code style="color:deeppink;">{|{ makePrettyTime(localCompleted) }|} / {|{
                        makePrettyTime({{ f.ride.duration }}) }|} ({|{ percentComplete
                        }|}%)<span v-if="rideType == 'gpx'">, {|{ rideDistance.cum }|}mi / {|{ rideDistance.total }|}mi ({|{ rideDistance.percent
                            }|}%)</span>
                    </code>
                </td>
            </tr>
            <tr>
                <td>Level:</td>
                <td>
                    <code style="color:deeppink;">{|{ bike.level }|}</code> <a role="button"
                                                                               style="margin-left:15px; background-color: green; border-color: green; font-size:200%;"
                                                                               @click="adjustLevel(1)">↑</a>
                    <a role="button" style="margin-left:15px; background-color: red; border-color: red; font-size:200%;"
                       @click="adjustLevel(-1)">↓</a>
                </td>
            </tr>
            <tr>
                <td>Speed:</td>
                <td><code style="color:deeppink;">{|{ Math.round((bike.reported.rpm.rpm) * 100) / 100 }|}rpm, {|{
                    bike.reported.speed.mph }|}mph</code></td>
            </tr>
            </tbody>
        </table>
    </section>

    <section>
        <div class="chart-container" style="position: relative; height:240px;">
            <canvas id="levelChart"></canvas>
        </div>
    </section>

    <section>
        <div class="chart-container" style="position: relative; height:240px;">
            <canvas id="rpmChart"></canvas>
        </div>
    </section>

    <!-- GPX map -->
    <section v-if="rideType === 'gpx'">
        <div id="map"></div>
        <div style="margin-top:15px;">
        <fieldset>
            <label for="followActive">
                <input v-model="followActive" type="checkbox" id="followActive" name="followActive" role="switch">
                Follow
            </label>
        </fieldset>
        </div>
    </section>

{% endblock %}
{% block page_script %}
    <script type="module">

        // imports
        import {makePrettyTime} from '{{ url_for('static', filename='index.js') }}';

        // set data
        var data = {
            followActive: true,
            playAudio: true,
            rideType: '{{ f.ride.ride_type }}',
            rideDuration: {{ f.ride.duration }},
            localCompleted: {{ f.ride.completed }},
            cumDistance: {{ f.ride.cum_distance }},
            totalDistance: {{ f.ride.total_distance }},
            rideIsCompleted: false,
            heartbeatInterval: null,
            queuedHeartbeats: 0,
            bike: {
                level: null,
                reported: {
                    rm: {level: null, current: null},
                    rpm: {rpm: null},
                    speed: {mph: null, fps: null}
                }
            },
            currentProgramSegment: {level: null, num: null, window: []},
            charts: {
                level: {
                    data: {
                        labels: [],
                        datasets: [
                            {
                                label: 'program',
                                data: [],
                                borderColor: 'deeppink',
                                borderWidth: 3,
                            },
                            {
                                label: 'recorded',
                                data: [],
                                borderColor: 'rgba(0,255,0,0.7)',
                                backgroundColor: 'rgba(0,255,0,0.3)',
                                borderWidth: 1,
                                fill: true
                            }]
                    },
                    chart: null
                },
                rpm: {
                    data: {
                        labels: [],
                        datasets: [
                            {
                                label: 'rpm',
                                data: [],
                                borderColor: 'blue',
                                borderWidth: 1,
                            },
                            {
                                label: 'mph',
                                data: [],
                                borderColor: 'orange',
                                borderWidth: 1,
                            },
                        ]
                    },
                    chart: null
                }
            },

            // wacky, but works!
            map:{{ f.ride.get_gpx_map_details()|tojson }}
        }

        // create Vue
        var vm = new Vue({
            el: '#vm',
            data: data,
            delimiters: ['{|{', '}|}'],
            computed: {
                percentComplete() {
                    return Math.floor((this.localCompleted / {{ f.ride.duration }}) * 100);
                },
                chartLevelData() {
                    return this.charts.level.data;
                },
                chartRpmData() {
                    return this.charts.rpm.data;
                },
                rideDistance() {
                    var cumDistanceMiles = 0
                    if (this.cumDistance > 0) {
                        cumDistanceMiles = Math.round((this.cumDistance / 5280) * 100) / 100
                    }
                    var totalDistanceMiles = 0
                    if (this.totalDistance > 0) {
                        totalDistanceMiles = Math.round((this.totalDistance / 5280) * 100) / 100
                    }
                    return {
                        cum: cumDistanceMiles,
                        total: totalDistanceMiles,
                        percent: Math.round((cumDistanceMiles / totalDistanceMiles) * 100)
                    }
                }
            },
            methods: {
                performHeartbeat: function () {
                    axios.post('/api/heartbeat', {"localRide": {"completed": this.localCompleted}})
                        .then(response => {
                            this.queuedHeartbeats -= 1;
                            let hb = response.data

                            // update reported
                            this.bike.reported.rm.level = hb.rm.level
                            this.bike.reported.rm.current = hb.rm.current
                            this.bike.reported.rpm.rpm = hb.rpm.rpm
                            this.bike.reported.speed = hb.speed

                            // update distance
                            this.cumDistance = hb.ride.cum_distance

                            // set initial level from first heartbeat
                            if (this.bike.level == null) {
                                this.bike.level = this.bike.reported.rm.level
                            }

                            // segments
                            if (hb.ride.last_segment != null && hb.ride.last_segment.is_new) {
                                if (hb.ride.last_segment.level !== this.bike.level) {
                                    this.bike.level = hb.ride.last_segment.level
                                    this.programSegmentChange(hb.ride.last_segment)
                                }
                            }

                            // update charts
                            this.charts.level.data.labels = hb.chart_data.labels
                            this.charts.level.data.datasets = hb.chart_data.datasets
                            this.charts.rpm.data.labels = hb.chart_data.labels // use hb labels
                            this.charts.rpm.data.datasets = hb.chart_data.speed_datasets
                            this.updateChart()

                            // GPX
                            if (this.rideType === 'gpx') {

                                // if map, update ghost and active rider
                                if (hb.map.ghost_rider.latitude !== null && hb.map.ghost_rider.longitude !== null) {
                                    var newLatLng = new L.LatLng(hb.map.ghost_rider.latitude, hb.map.ghost_rider.longitude);
                                    this.map.layers.marker.setLatLng(newLatLng);
                                }
                                if (hb.map.active_rider.latitude !== null && hb.map.active_rider.longitude !== null) {
                                    var newLatLng2 = new L.LatLng(hb.map.active_rider.latitude, hb.map.active_rider.longitude);
                                    this.map.layers.markerRider.setLatLng(newLatLng2);
                                }

                                // pan to active if following
                                if (this.followActive){
                                    this.map.mapObj.panTo(this.map.layers.markerRider.getLatLng());
                                }

                                // see if ride done
                                if (this.cumDistance >= this.totalDistance && !this.rideIsCompleted) {
                                    this.rideCompleted();
                                }

                            }

                            // Duration
                            else {
                                // see if ride done
                                if (this.localCompleted >= this.rideDuration && !this.rideIsCompleted) {
                                    this.rideCompleted();
                                }
                            }

                        })
                        .catch(error => console.error(error));
                },
                startApiHeartbeat: function () {
                    this.polly(`Starting at ${this.percentComplete} percent`);
                    this.heartbeatInterval = setInterval(() => {
                        this.localCompleted += 1;
                        this.queuedHeartbeats += 1;
                        this.performHeartbeat();
                    }, 1000);
                },
                async stopApiHeartbeat() {
                    this.polly(`Stopping at ${this.percentComplete} percent`);
                    clearInterval(this.heartbeatInterval);
                    this.heartbeatInterval = null;
                },
                makePrettyTime(s) {
                    return makePrettyTime(s);
                },
                createChart() {

                    // create level chart
                    this.charts.level.chart = new Chart(
                        document.getElementById('levelChart').getContext('2d'),
                        {
                            type: 'line',
                            data: this.chartLevelData,
                            options: {
                                maintainAspectRatio: false,
                                responsive: true,
                                animation: {
                                    duration: 0
                                },
                                elements: {
                                    point: {
                                        radius: 0,
                                    },
                                },
                                scales: {
                                    xAxes: [{
                                        display: false, // this will remove all the x-axis grid lines
                                    }],
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true,
                                            steps: 20,
                                            stepValue: 1,
                                            max: 20,
                                        },
                                    }],
                                }
                            }
                        }
                    )

                    // create rpm chart
                    this.charts.rpm.chart = new Chart(
                        document.getElementById('rpmChart').getContext('2d'),
                        {
                            type: 'line',
                            data: this.chartRpmData,
                            options: {
                                maintainAspectRatio: false,
                                responsive: true,
                                animation: {
                                    duration: 0
                                },
                                elements: {
                                    point: {
                                        radius: 0,
                                    },
                                },
                                scales: {
                                    xAxes: [{
                                        display: false, // this will remove all the x-axis grid lines
                                    }],
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: false,
                                        },
                                    }],
                                }
                            }
                        }
                    )

                },
                updateChart() {
                    this.charts.level.chart.update();
                    this.charts.rpm.chart.update();
                },
                async adjustLevel(delta) {
                    this.bike.level = this.bike.level + delta

                    {#this.polly(`Going to level ${this.bike.level}`)#}

                    if (this.bike.level < 1) {
                        this.bike.level = 1
                    }
                    if (this.bike.level > 20) {
                        this.bike.level = 20
                    }
                    axios.get(`/api/bike/rm/adjust/${this.bike.level}`)
                        .then(response => {
                            console.log(response.data)
                        })
                },
                async polly(text) {
                    if (this.playAudio) {
                        var a = new Audio(`/gui/polly?text="${text}"`);
                        a.play();
                    }
                },
                programSegmentChange(last_segment) {
                    console.log(last_segment)
                    if (this.currentProgramSegment.num != last_segment.num) {
                        {#this.polly(`Program, level ${last_segment.level}`);#}
                    }
                    this.currentProgramSegment.level = last_segment.level;
                    this.currentProgramSegment.num = last_segment.num;
                    this.currentProgramSegment.window = last_segment.window;

                },
                rideCompleted() {
                    this.rideIsCompleted = true;
                    this.stopApiHeartbeat();
                    this.polly(`Ride {{ f.ride.name }} completed, congratulations!`);
                },
                randomQuote() {
                    // get quote
                    axios.get(`https://api.quotable.io/random`)
                        .then(response => {
                            console.log(response.data)
                            this.polly(`${response.data.content}, ${response.data.author}`);
                        })
                },
                createMap() {

                    // init active node
                    this.map.layers = {
                        marker: null,
                        route: null
                    }

                    // create map
                    var mapOptions = {
                        fullscreenControl: true
                    }
                    var mymap = L.map('map', mapOptions);
                    this.map.mapObj = mymap

                    // set to bounds
                    mymap.fitBounds(this.map.bbox);

                    // add tiles
                    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                        maxZoom: 18,
                        id: 'mapbox/streets-v11',
                        tileSize: 512,
                        zoomOffset: -1,
                        accessToken: 'sk.eyJ1IjoiZ2h1a2lsbCIsImEiOiJja3cxc3M1d2QyODc2MnZtcnZtcHd2aTF1In0.0chKHQDPT3FiCukvT7ikHw'
                    }).addTo(mymap);

                    // add markers
                    var redIcon = new L.Icon({
                        iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
                        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
                        iconSize: [25, 41],
                        iconAnchor: [12, 41],
                        popupAnchor: [1, -34],
                        shadowSize: [41, 41]
                    });
                    this.map.layers.marker = L.marker([this.map.marker[0], this.map.marker[1]], {
                        icon: redIcon
                    }).addTo(mymap);
                    var greenIcon = new L.Icon({
                        iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
                        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
                        iconSize: [25, 41],
                        iconAnchor: [12, 41],
                        popupAnchor: [1, -34],
                        shadowSize: [41, 41]
                    });
                    this.map.layers.markerRider = L.marker([this.map.marker[0], this.map.marker[1]], {
                        icon: greenIcon
                    }).addTo(mymap);

                    // draw route
                    var routeOptions = {
                        color: 'deeppink',
                        weight: 6,
                        opacity: 0.6
                    }
                    this.map.layers.route = L.polyline(this.map.route_points, routeOptions).addTo(mymap);
                },
            },
            mounted: function () {
                this.createChart();
                this.performHeartbeat();
                this.polly("Loading ride: {{ f.ride.name }}.");

                // if GPX ride, create map
                if (this.rideType === 'gpx') {
                    this.createMap()
                }
            }
        })

    </script>
{% endblock %}